@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'), url(../-F62fjtqLzI2JPCgQBnw7HFYyQgM.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'), url(../-F6pfjtqLzI2JPCgQBnw7HFQMisa3Xdj.otf) format('opentype');
}
